<h1>Root#index</h1>
<% if logged_in? %>
  <%= link_to 'Sign out', logout_path, class: 'text-white', method: :delete %>
  <%= link_to 'Spotify Playlists', spotify_playlists_create_path, method: :post %>
<% else %>
  <%= link_to 'Sign in with Spotify', '/auth/spotify', method: :post %>
<% end %>
